.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-absolute-center {
  position: absolute;
  top: 145px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.cartArea {
  border-bottom: 1px solid #CCC;
}

.cartImage {
  width: 100px;
  height: 100px;
}

.cartInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;  
}

.cartQtd {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cartQtd-end {
  justify-content: flex-end;
  flex-direction: column;
}

.cartCounter {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

.searchBox {
  position: absolute;
  background-color: #fff;
  width: 208px;
}

.searchBox_content {
  margin-top: 10px;
}

.searchItem {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.searchItem_img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.linha {
  border: 1px solid #CCC;
  margin-top: 10px;
  margin-bottom: 10px;
}